{% extends 'base.html' %}

{% block title %}New Post{% endblock title %}

{% block content %}
<h1>Post Detail</h1>
<h5>{{ post.title }}</h5>
<h6>{{ post.subtile }}</h6>
<small>Created on: {{ post.created_on }}</small>
<p>{{ post.body }}</p>
{% if user.is_authenticated %}
    {% if user == post.author %}    
    <a href="{% url 'edit' post.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endif %}

{% endblock content %}