{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-5" style="width: 100%; max-width: 600px;">
        <h1 class="text-center">Password Change</h1>
        <p class="text-center mb-4">Please type in your new password, then type it in again to confirm.</p>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid mt-4">
                <input type="submit" class="btn btn-success" value="Change">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
