{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-5" style="width: 100%; max-width: 700px;">
        <h1 class="text-center mb-4">About the Developer</h1>
        <p class="text">Hi! I’m Aglae Ramirez, a Graphic Designer and Digital Graphic Design student. I’m passionate about blending creativity and technology to make a meaningful impact. With experience in content creation, UX/UI, and corporate design, I love crafting designs that inspire and solve real-world problems. Thanks for visiting — I'm excited to share my journey with you!</p>
    </div>
</div>
{% endblock content %}