{% extends 'base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
<h1>About the developer</h1>
<p>Hi! I’m Aglae Ramirez, a Graphic Designer and Digital Graphic Design student. I’m passionate about blending creativity and technology to make a meaningful impact. With experience in content creation, UX/UI, and corporate design, I love crafting designs that inspire and solve real-world problems. Thanks for visiting — I'm excited to share my journey with you!</p>

{% endblock content %}