{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome to My Blog</h1>
        <p class="lead">Here, you'll find a vibrant space filled with insights, stories, and resources to inspire and inform. We’re passionate about sharing knowledge on a wide range of topics, from the latest trends to timeless advice, and providing a community where ideas and perspectives can thrive. Whether you’re here to learn something new, seek inspiration, or simply enjoy a good read, we’re excited to have you on this journey with us.</p>
        <p class="mt-4">Dive in, explore, and feel free to join the conversation — we can’t wait to hear from you!</p>
    </div>
</div>
{% endblock content %}